*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.navlist {
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
.navlist_item{
    margin: 20px 20px 20px 20px;
}

h1{
    text-align: center;
}
.navlist_link{
    text-decoration: none;
    display: inline-block;
    color: black;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.hero{
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: #e67e22;
    font-size: 40px;
    background-image: url('../img/Kuchnia1.jpg');
    background-size: cover;
}
.hero-text-box{
    position: absolute;
    top: 45%;
    left: 10%;
    color: #efefef;
    background-color: #e67e22;
    padding: 12px;
    border-radius: 16px;
}
.hero-text-box .main{
    font-size: 38;
}
.hero-text-box .sub-main{
font-size: 22px;
}
.hero-btn{
    margin-top: 8px;
    padding: 8px 16px;
    box-shadow: none;
    outline: none;
    background-color: #fefefe;
    border: 2px solid #fefefe;
    border-radius: 16px;
    color: #121212;
}
.hero-btn-outline{
    margin-top: 8px;
    padding: 8px 16px;
    box-shadow: none;
    outline: none;
    background-color: #fefefe;
    border: 2px solid #fefefe;
    border-radius: 16px;
    color: #121212;
}
.aboutUs{
background-color: antiquewhite;
display: flex;
flex-direction: column;
justify-content: space-between;
}

.about-title{
    font-size: 20px;
    text-align: center;
    margin: 10px;
}

.div-about-1{
    height: 50%;
    width: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row;
    margin: 10px;
}

.div-about-2{
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    margin: 10px;
}

.image-box-1{ 
   width: 50%; /*??? */
   height: 50vh;
   margin: 5px;
}

.image-box-2{
    width: 50%;
    height: 50vh;
    background-image: url('../img/lazienka_demo.png');
    margin: 5px;
    background-size: cover;
}

.text-box-1{
    width: 50%;
    margin: 5px;
    font-size: 550;
}

.text-box-2{
    width: 50%;
    height: 50vh;
    margin: 5px;
    overflow:scroll;
}
.products{
    background-color: antiquewhite;
    }
.div-products{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: stretch;
}

/* .div-product{
    width: 50%;
    height: 40vh;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.title-products{
    font-size: 20px;
    text-align: center;
    margin: 10px;
}
.image-box-product-1{
    width: 300px;
    height: 40vh;
    margin: 5px;
    background-image: url('../img/Kuchnia_demo_2.jpg');
    background-size: cover;
}
.image-box-product-2{
    width: 300px;
    height: 40vh;
    margin: 5px;
    background-image: url('../img/lazienka-1.jpeg');
    background-size: cover;
}
.image-box-product-3{
    width: 300px;
    height: 40vh;
    margin: 5px;
    background-image: url('../img/szafa-1.jpg');
    background-size: cover;
}
.image-box-product-4{
    width: 300px;
    height: 40vh;
    margin: 5px;
    background-image: url('../img/garderoba-1.jpg');
    background-size: cover;
}
.image-box-product-5{
    width: 300px;
    height: 40vh;
    margin: 5px;
    background-image: url('../img/pokoj-1.jpg');
    background-size: cover;
}
.image-box-product-6{
    width: 300px;
    height: 40vh;
    margin: 5px;
    background-image: url('../img/lamele-1.jpg');
    background-size: cover;
}
.text-box-product{
text-align: center;
}

.reviews{
    background-color: antiquewhite;
    }
    .title-reviews{
        font-size: 20px;
        text-align: center;
        margin: 10px;
    }

.contact{
    background-color: antiquewhite;
    }
    .title-contact{
        font-size: 20px;
        text-align: center;
        margin: 10px;
    }
    h3{
        line-height: 35px;
    }
    .div-contacts{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        line-height: 25px;

    }
    .div-contact-form{
        height: 100%;
        width: 300px;
        margin: 5px;
    }
    .div-contact{
        height: 100%;
        width: 300px;
        margin: 5px;
    }
    .google-map{
        height: 100%;
        width: 300px;
        margin: 5px;
    }